@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
    Base
*/

body {
    background: #fbf7f4;
    height: 100vh;
}

#root {
    height: 100%
}
.App {
    height: 100%;
}
.w100 {
    width: 100%;
}
.flex {
    display: flex;
}

/* 
    Images
*/

.navbar {
    background: url('../assets/navbar.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 50px;
}

.skootyAvatar {
    background: url('../assets/skooty.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.skootyAvatar.top {
    position: absolute;
    top: 70px;
    right: 40px;
    width: 120px;
    height: 70px;
}
.skootyAvatar.middle {
    position: absolute;
    top: 180px;
    left: calc(50% - 100px);
    width: 200px;
    height: 160px;
    margin-bottom: auto;
    margin: auto;
}

/* 
    Skooty
*/

.Skooty {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px - 60px);
}

.title {
    font-weight: bold;
    font-size: 34px;
}
.subtitle {
    color: #444444;
    text-transform: uppercase;
    font-size:  16px;
    margin-bottom: auto;
}

/* 
    Buttons/Form
*/

.buttons {
    display: flex;
    margin: 4px 0;
    align-items: center;
}
.buttons > :not(:first-child) {
    margin-left: 6px;
}
.buttons > button {
    border: 1px solid #ff6956;
    color: #ff6956;
    border-radius: 12px;
    font-size: 12px;
    padding: 4px 8px;
}
.buttons > button.green {
    border: 1px solid #2ab52d;
    color: #2ab52d;
}
.buttons > span {
    font-size: 14px;
}

textarea {
    flex: 1;
    border: 1px solid #ff6956;
    border-radius: 5px;
    resize: none;
    font-size: 12px;
    padding: 8px;
    margin-top: 4px;
}

.send {
    background: url('../assets/send.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}


/* 
    Chat messages
*/

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    margin: 0 -20px 16px;
    padding: 20px;
}
.Message {
    max-width: 85%;
    font-size: 14px;
    padding: 4px 8px;
    border: 1px solid #ff6956;
    border-radius: 8px;
    background: transparent;
    color: black;
    margin-left: auto;
}
.Message.isBot {
    max-width: 70%;
    background: #ff6956;
    color: white;
    margin-left: 0;
}
.Message:not(:first-child) {
    margin-top: 10px;
}
